@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
    <br /><br />
    <div class="container row">

        <span> For any technical issues in procurement application you can contact our technical support team on <a href="#">info.support@sbiinsurance.com</a>  </span>

    </div>
</body>
</html>