
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Appication Error</title>
</head>
<body>
    <h2>
        Sorry, Forbidden Error Occured.
    </h2>
    
</body>
</html>

