
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="panel-body">
    <div class="row">
        <div class="col-md-12">
            <h3>Welcome to Automation Tool</h3>
        </div>
    </div>
</div>